.section {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.section>h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #5EBBAA;
}

.section>div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.language {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.language>h3 {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.language>progress {
  width: 100%;
  height: 10px;
  border: none;
  appearance: none;
}

.language>progress::-webkit-progress-bar {
  background-color: #ddd;
  border-radius: 5px;
}

.language>progress::-webkit-progress-value {
  background-color: #5EBBAA;
  border-radius: 5px;
}