.section {
  display: flex;
  align-items:
    flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.section>img {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
}

.section>div {
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.section>div>h1 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

.section>div>h4 {
  margin: 0;
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: #666;
}

.section>div>p {
  margin: 0;
  margin-top: 8px;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: justify;
}

.section>div>p>mark {
  background-color: transparent;
  font-weight: 600;
}