---

---

<div id="container">
  <section id="personal_info">
    <span>Mexico City, Mexico</span>
    <span>+52 55 1005 7272</span>
    <span>
      <a target="_blank" href="mailto:dacovasan00@gmail.com">
        dacovasan00@gmail.com
      </a>
      |
      <a
        target="_blank"
        href="https://www.linkedin.com/in/daniel-covarrubias-a5b2b7191/"
      >
        linkedin
      </a>
      |
      <a target="_blank" href="https://github.com/Cova-ops"> github.com </a>
    </span>
  </section>

  <section id="name">
    <h1>Daniel Covarrubias Sanchez</h1>
  </section>

  <section id="summary">
    <h3>Summary</h3>
    <p>
      Computer Systems Engineer with over 2 years of experience in software
      development, specializing in automation and Backend development. Skilled
      in problem-solving, teamwork, leadership, and fast learning. Focused on
      creating efficient and scalable solutions that optimize processes and
      enhance productivity.
    </p>
  </section>

  <section id="skills">
    <h3>Skills</h3>
    <p>
      Node.js, Python, Rust, MySQL, SQL Server, PostgreSQL, MongoDB, Redis,
      Docker, APIs, Web Services, Kubernetes, AWS, CI/CD, Jest, JWT, OAuth,
      WebSocket, ReactJS
    </p>
  </section>

  <section id="experience">
    <h3>Work Experience</h3>
    <div class="job">
      <p class="title">
        <span>Xira Intelligence, Mexico City</span>
        <span>- Development Software Manager</span>
      </p>
      <p class="lapse">January 2023 - PRESENT</p>
      <ul>
        <li>
          Co-designed and led the development of the company's flagship product,
          driving innovation and scalability.
        </li>
        <li>
          Acted as Solutions Architect, delivering tailored solutions for
          internal systems and diverse client needs.
        </li>
        <li>
          Directed the development and maintenance of two flagship products,
          ensuring high performance and reliability.
        </li>
        <li>
          Automated key internal processes, cutting development times by 50% and
          enabling rapid deployment of new solutions within a week.
        </li>
        <li>
          Consistently delivered projects on time, exceeding client expectations
          and strengthening company reputation.
        </li>
      </ul>
    </div>
    <div class="job">
      <p class="title">
        <span>Xira Intelligence, Mexico City</span>
        <span>- Full Stack Jr Development</span>
      </p>
      <p class="lapse">December 2021 - December 2022</p>
      <ul>
        <li>
          Designed and implemented a new Voicebot architecture for one of the
          largest telecommunications companies in Mexico, enhancing customer
          interaction capabilities.
        </li>
        <li>
          Developed advanced Chatbots using proprietary technology, seamlessly
          integrating APIs and databases to optimize functionality.
        </li>
        <li>
          Leveraged RPA to automate complex processes across multiple websites,
          improving efficiency and accuracy.
        </li>
        <li>
          Consistently surpassed quarterly KPIs, achieving top performance as
          the only team member to meet all targets throughout the year.
        </li>
      </ul>
    </div>
  </section>
</div>

<style>
  #container {
    width: 100%;
    max-width: 750px;
    margin: 0px auto;
    /* margin-top: 30px; */
    /* margin-bottom: 50px; */
  }

  #personal_info {
    font-family: "Arial";
    font-size: small;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    /* background-color: red; */
  }

  /* #personal_info:nth-child(1) {
  } */

  #personal_info > span {
    display: block;
    color: #e00951;
  }

  #personal_info > span > a {
    color: inherit;
    text-decoration: none;
  }

  #personal_info > span:first-child {
    color: gray;
  }

  #name {
    position: relative;
    width: 100%;
  }

  #name::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 5px;
    background-color: #333333;
  }

  #name > h1 {
    color: #333333;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Roboto Condensed";
    font-size: 2.5rem;
    letter-spacing: -1.8px;
  }

  #summary {
    margin-top: 70px;
  }

  #summary > h3 {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
  }

  #summary > p {
    font-family: "Source Code Pro";
    text-align: justify;
    color: #535353cc;
    line-height: 1.35;
    font-size: 0.95rem;
  }

  #skills {
    margin-top: 40px;
  }

  #skills > h3 {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
  }

  #skills > p {
    font-family: "Source Code Pro";
    text-align: justify;
    color: #535353cc;
    line-height: 1.35;
    font-size: 0.95rem;
  }

  #experience {
    margin-top: 40px;
  }

  #experience > h3 {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
  }

  #experience > .job > .title {
    text-align: justify;
    font-family: "Source Code Pro";
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: -0.4px;
    margin-bottom: 10px;
  }

  #experience > .job > .title > span:first-child {
    color: #e00951;
  }

  #experience > .job > .title > span:last-child {
    color: #535353cc;
    font-weight: 400;
    font-style: italic;
  }

  #experience > .job > .lapse {
    color: #535353cc;
    font-family: "Source Code Pro";
    font-weight: 400;
    margin: 0;
    font-size: 0.95rem;
  }

  #experience > .job > ul {
    margin: 0;
    color: #535353cc;
    font-family: "Source Code Pro";
    font-size: 0.95rem;
  }

  #experience > .job > ul > li {
    /* margin-bottom: 5px; */
    margin-left: 10px;
    line-height: 1.5;
  }
</style>
