---

---

<div id="container">
  <section id="personal_info">
    <span>Ciudad de México, México</span>
    <span>+52 55 1005 7272</span>
    <span>
      <a target="_blank" href="mailto:dacovasan00@gmail.com">
        dacovasan00@gmail.com
      </a>
      |
      <a
        target="_blank"
        href="https://www.linkedin.com/in/daniel-covarrubias-a5b2b7191/"
      >
        linkedin
      </a>
      |
      <a target="_blank" href="https://github.com/Cova-ops"> github.com </a>
    </span>
  </section>

  <section id="name">
    <h1>Daniel Covarrubias Sanchez</h1>
  </section>

  <!-- <section id="summary">
    <h3>Resumen</h3>
    <p>
      Ingeniero en sistemas computacionales con más de 2 años de experiencia en
      desarrollo de software, especializado en automatización y desarrollo
      Backend. Hábil en resolución de problemas, trabajo en equipo, liderazgo y
      aprendizaje rápido. Especializado en la creación de soluciones eficientes
      y escalables que optimizan procesos y mejoran la productividad.
    </p>
  </section> -->

  <section id="skills">
    <section id="hard_skills">
      <h3>Habilidades duras</h3>
      <p>
        Javascript, Typescript, Node.js, Express.js, MongoDB, MySQL, PostgreSQL,
        Redis, Docker, Kubernetes, AWS (S3, EC2, Lambda, RDS), Python, GitHub
      </p>
    </section>
    <section id="soft_skills">
      <h3>Habilidades blandas</h3>
      <p>
        Resolución de problemas, Trabajo en equipo, Liderazgo, Aprendizaje
        rápido, Adaptabilidad, Comunicación efectiva.
      </p>
    </section>
  </section>

  <section id="experience">
    <h3>Experiencia Laboral</h3>
    <div class="job">
      <p class="title">
        <span>Xira Intelligence, Ciudad de México</span>
        <span>- Gerente de Desarrollo de Software</span>
      </p>
      <p class="lapse">Enero 2023 - ACTUALIDAD</p>
      <ul>
        <li>
          <b>Codiseñé y lideré</b> el desarrollo del producto insignia de la empresa,
          mejorando su <b>innovación, escalabilidad y rendimiento</b>.
        </li>
        <li>
          <b>Actué como Arquitecto de Soluciones</b>, diseñando e implementando
          sistemas personalizados para optimizar procesos internos y satisfacer
          diversas necesidades de clientes.
        </li>
        <li>
          <b>Dirigí el desarrollo y mantenimiento</b> de dos productos clave, garantizando
          su <b>alta disponibilidad, rendimiento y estabilidad</b>.
        </li>
        <li>
          <b>Automaticé procesos internos críticos</b>, reduciendo los tiempos
          de desarrollo en un 50 % y permitiendo el despliegue de nuevas
          soluciones en menos de <b>una semana</b>.
        </li>
        <li>
          <b>Lideré entregas de proyectos a tiempo y con calidad</b>, superando
          las expectativas de los clientes y fortaleciendo la reputación de la
          empresa.
        </li>
      </ul>
    </div>
    <div class="job">
      <p class="title">
        <span>Xira Intelligence, Ciudad de México</span>
        <span>- Desarrollador Full Stack Jr</span>
      </p>
      <p class="lapse">Diciembre 2021 - Diciembre 2022</p>
      <ul>
        <li>
          <b>Diseñé e implementé</b> una nueva arquitectura de <b>Voicebot</b> utilizada
          por una de las principales empresas de telecomunicaciones en México, mejorando
          significativamente la <b>experiencia del cliente</b> y la eficiencia operativa.
        </li>
        <li>
          <b>Desarrollé Chatbots avanzados</b> con tecnología propietaria, integrando
          <b>APIs, bases de datos y NLP</b>, optimizando la interacción y
          automatización de procesos.
        </li>
        <li>
          <b>
            Implementé soluciones de RPA (Automatización de Procesos Robóticos)
          </b>
          para automatizar flujos complejos en múltiples plataformas, aumentando
          la eficiencia y reduciendo errores manuales.
        </li>
        <li>
          <b>Superé consistentemente mis KPIs trimestrales</b>, siendo el único
          miembro del equipo en cumplir <b>todas las metas anuales</b>,
          destacando por mi rendimiento y compromiso.
        </li>
      </ul>
    </div>
  </section>

  <section id="languages">
    <h3>Idiomas</h3>
    <p>
      <span> Español: <b>Nativo</b> </span>
      <span> Inglés: <b>Avanzado (C1)</b> </span>
      <span> Alemán: <b>Basico (A2)</b> </span>
    </p>
  </section>
</div>

<style>
  #container {
    width: 100%;
    max-width: 750px;
    margin: 0px auto;
    /* margin-top: 30px; */
    /* margin-bottom: 50px; */
  }

  #personal_info {
    font-family: "Arial";
    font-size: small;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    /* background-color: red; */
  }

  /* #personal_info:nth-child(1) {
  } */

  #personal_info > span {
    display: block;
    color: #e00951;
  }

  #personal_info > span > a {
    color: inherit;
    text-decoration: none;
  }

  #personal_info > span:first-child {
    color: gray;
  }

  #name {
    position: relative;
    width: 100%;
  }

  #name::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 5px;
    background-color: #333333;
  }

  #name > h1 {
    color: #333333;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Roboto Condensed";
    font-size: 2.5rem;
    letter-spacing: -1.8px;
  }

  #summary {
    margin-top: 70px;
  }

  #summary > h3 {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
  }

  #summary > p {
    font-family: "Source Code Pro";
    text-align: justify;
    color: #535353cc;
    line-height: 1.35;
    font-size: 0.95rem;
  }

  #skills {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #skills h3 {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
  }

  #skills p {
    font-family: "Source Code Pro";
    text-align: justify;
    color: #535353cc;
    line-height: 1.35;
    font-size: 0.95rem;
  }

  #hard_skills,
  #soft_skills {
    width: 48%;
  }

  #experience {
    margin-top: 40px;
  }

  #experience > h3 {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
  }

  #experience > .job > .title {
    text-align: justify;
    font-family: "Source Code Pro";
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: -0.4px;
    margin-bottom: 10px;
  }

  #experience > .job > .title > span:first-child {
    color: #e00951;
  }

  #experience > .job > .title > span:last-child {
    color: #535353cc;
    font-weight: 400;
    font-style: italic;
  }

  #experience > .job > .lapse {
    color: #535353cc;
    font-family: "Source Code Pro";
    font-weight: 400;
    margin: 0;
    font-size: 0.95rem;
  }

  #experience > .job > ul {
    margin: 0;
    color: #535353cc;
    font-family: "Source Code Pro";
    font-size: 0.95rem;
  }

  #experience > .job > ul > li {
    /* margin-bottom: 5px; */
    margin-left: 10px;
    line-height: 1.5;
  }

  #languages {
    margin-top: 40px;
  }
  #languages > h3 {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
  }
  #languages > p {
    font-family: "Source Code Pro";
    text-align: justify;
    color: #535353cc;
    line-height: 1.35;
    font-size: 0.95rem;
  }

  #languages > p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
</style>
