---

---

<div id="container">
  <section id="personal_info">
    <span>Ciudad de México, México</span>
    <span>+52 55 1005 7272</span>
    <span>
      <a target="_blank" href="mailto:dacovasan00@gmail.com">
        dacovasan00@gmail.com
      </a>
      |
      <a
        target="_blank"
        href="https://www.linkedin.com/in/daniel-covarrubias-a5b2b7191/"
      >
        linkedin
      </a>
      |
      <a target="_blank" href="https://github.com/Cova-ops"> github.com </a>
    </span>
  </section>

  <section id="name">
    <h1>Daniel Covarrubias Sanchez</h1>
  </section>

  <section id="summary">
    <h3>Resumen</h3>
    <p>
      Ingeniero en sistemas computacionales con más de 3 años de experiencia en
      desarrollo de software, especializado en automatización y desarrollo
      Backend. Hábil en resolución de problemas, trabajo en equipo, liderazgo y
      aprendizaje rápido. Especializado en la creación de soluciones eficientes
      y escalables que optimizan procesos y mejoran la productividad.
    </p>
  </section>

  <section id="skills">
    <h3>Skills</h3>
    <p>
      Node.js, Python, Rust, MySQL, SQL Server, PostgreSQL, MongoDB, Redis,
      Docker, APIs, Web Services, Kubernetes, AWS, CI/CD, Jest, JWT, OAuth,
      WebSocket, ReactJS
    </p>
  </section>

  <section id="experience">
    <h3>Experiencia Laboral</h3>
    <div class="job">
      <p class="title">
        <span>Xira Intelligence, Ciudad de México</span>
        <span>- Gerente de Desarrollo de Software</span>
      </p>
      <p class="lapse">Enero 2023 - ACTUALIDAD</p>
      <ul>
        <li>
          Codiseñé y lideré el desarrollo del producto insignia de la empresa,
          impulsando la innovación y escalabilidad.
        </li>
        <li>
          Actué como Arquitecto de Soluciones, ofreciendo implementaciones
          personalizadas para sistemas internos y necesidades diversas de
          clientes.
        </li>
        <li>
          Dirigí el desarrollo y mantenimiento de dos productos insignia,
          asegurando su alto rendimiento y confiabilidad.
        </li>
        <li>
          Automatizé procesos internos clave, reduciendo los tiempos de
          desarrollo en un 50 % y permitiendo el despliegue de nuevas soluciones
          en menos de una semana.
        </li>
        <li>
          Entregué proyectos a tiempo de manera consistente, superando las
          expectativas de los clientes y fortaleciendo la reputación de la
          empresa.
        </li>
      </ul>
    </div>
    <div class="job">
      <p class="title">
        <span>Xira Intelligence, Ciudad de México</span>
        <span>- Desarrollador Full Stack Jr</span>
      </p>
      <p class="lapse">Diciembre 2021 - Diciembre 2022</p>
      <ul>
        <li>
          Diseñé e implementé una nueva arquitectura de Voicebot utilizada por
          una de las principales empresas de telecomunicaciones en México,
          mejorando significativamente la experiencia del cliente.
        </li>
        <li>
          Desarrollé Chatbots avanzados con tecnología propietaria, integrando
          APIs y bases de datos para optimizar procesos y funcionalidades.
        </li>
        <li>
          Implementé soluciones de RPA para automatizar procesos complejos en
          múltiples sitios web, aumentando la eficiencia y reduciendo errores.
        </li>
        <li>
          Alcancé y superé mis KPIs trimestrales de manera constante, siendo el
          único miembro del equipo en cumplir con todas las metas durante el
          año.
        </li>
      </ul>
    </div>
  </section>
</div>

<style>
  #container {
    width: 100%;
    max-width: 750px;
    margin: 0px auto;
    /* margin-top: 30px; */
    /* margin-bottom: 50px; */
  }

  #personal_info {
    font-family: "Arial";
    font-size: small;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    /* background-color: red; */
  }

  /* #personal_info:nth-child(1) {
  } */

  #personal_info > span {
    display: block;
    color: #e00951;
  }

  #personal_info > span > a {
    color: inherit;
    text-decoration: none;
  }

  #personal_info > span:first-child {
    color: gray;
  }

  #name {
    position: relative;
    width: 100%;
  }

  #name::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 5px;
    background-color: #333333;
  }

  #name > h1 {
    color: #333333;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Roboto Condensed";
    font-size: 2.5rem;
    letter-spacing: -1.8px;
  }

  #summary {
    margin-top: 70px;
  }

  #summary > h3 {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
  }

  #summary > p {
    font-family: "Source Code Pro";
    text-align: justify;
    color: #535353cc;
    line-height: 1.35;
    font-size: 0.95rem;
  }

  #skills {
    margin-top: 40px;
  }

  #skills > h3 {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
  }

  #skills > p {
    font-family: "Source Code Pro";
    text-align: justify;
    color: #535353cc;
    line-height: 1.35;
    font-size: 0.95rem;
  }

  #experience {
    margin-top: 40px;
  }

  #experience > h3 {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
  }

  #experience > .job > .title {
    text-align: justify;
    font-family: "Source Code Pro";
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: -0.4px;
    margin-bottom: 10px;
  }

  #experience > .job > .title > span:first-child {
    color: #e00951;
  }

  #experience > .job > .title > span:last-child {
    color: #535353cc;
    font-weight: 400;
    font-style: italic;
  }

  #experience > .job > .lapse {
    color: #535353cc;
    font-family: "Source Code Pro";
    font-weight: 400;
    margin: 0;
    font-size: 0.95rem;
  }

  #experience > .job > ul {
    margin: 0;
    color: #535353cc;
    font-family: "Source Code Pro";
    font-size: 0.95rem;
  }

  #experience > .job > ul > li {
    /* margin-bottom: 5px; */
    margin-left: 10px;
    line-height: 1.5;
  }
</style>
