---

---

<main id="container">
  <header id="name">
    <h1>Daniel Covarrubias Sanchez</h1>
  </header>

  <section id="personal_info">
    <span>+52 55 1005 7272</span>|
    <span>Ciudad de México, México</span>|
    <span>
      <a target="_blank" href="mailto:dacovasan00@gmail.com">
        dacovasan00@gmail.com
      </a>
      -
      <a
        target="_blank"
        href="https://www.linkedin.com/in/daniel-covarrubias-a5b2b7191/"
      >
        linkedin
      </a>
      -
      <a target="_blank" href="https://github.com/Cova-ops"> github.com </a>
    </span>
  </section>

  <section id="main_section">
    <nav id="primary_section">
      <section id="skills">
        <h3>Habilidades</h3>
        <p>
          <b> Lenguajes | </b>
          JavaScript, TypeScript, Python
        </p>
        <p>
          <b> Frontend & Backend | </b>
          React, Next.js, Node.js, Express, Flask
        </p>
        <p>
          <b> Infraestructura y DevOps |</b>
          AWS (Lambda, S3, EC2, RDS), Docker, Kubernetes, CI/CD
        </p>
        <p>
          <b> Liderazgo y Gestión |</b>
          Agile (Scrum, Kanban), Hiring & Mentorship, Tech Roadmaps
        </p>
        <p>
          <b> Optimización de Procesos | </b>
          Cost Reduction, CI/CD Pipelines, Technical Decision Making
        </p>
      </section>

      <section id="experience">
        <h3>Experiencia Laboral</h3>
        <div class="job">
          <p class="title">
            <span>Xira Intelligence, Ciudad de México</span>
            <span> - Gerente de Desarrollo de Software</span>
          </p>
          <p class="lapse">Enero 2023 - ACTUALIDAD</p>
          <ul>
            <li>
              <b>Lideré</b> el desarrollo del producto insignia de la empresa, mejorando
              su <b>innovación, escalabilidad y rendimiento</b>.
            </li>
            <li>
              <b>Actué como Arquitecto de Soluciones</b>, diseñando e
              implementando sistemas personalizados para optimizar procesos
              internos y satisfacer diversas necesidades de clientes.
            </li>
            <li>
              <b>Dirigí el desarrollo y mantenimiento</b> de dos productos clave,
              garantizando su <b
                >alta disponibilidad, rendimiento y estabilidad</b
              >.
            </li>
            <li>
              <b>Automaticé procesos internos críticos</b>, reduciendo los
              tiempos de desarrollo en un 50 % y permitiendo el despliegue de
              nuevas soluciones en menos de <b>una semana</b>.
            </li>
            <li>
              <b>Entregué proyectos con un 98% de cumplimiento de SLA</b>, lo
              que redujo los tiempos de respuesta en un 40% y aumentó la
              satisfacción del cliente en un 25%. empresa.
            </li>
          </ul>
        </div>
        <div class="job">
          <p class="title">
            <span>Xira Intelligence, Ciudad de México</span>
            <span>- Desarrollador Full Stack Jr</span>
          </p>
          <p class="lapse">Diciembre 2021 - Diciembre 2022</p>
          <ul>
            <li>
              <b>Diseñé e implementé</b> una nueva arquitectura de <b
                >Voicebot</b
              >
              utilizada por una de las principales empresas de telecomunicaciones
              en México, mejorando significativamente la <b
                >experiencia del cliente</b
              > y la eficiencia operativa.
            </li>
            <li>
              <b>Desarrollé Chatbots avanzados</b> con tecnología propietaria, integrando
              <b>APIs, bases de datos y NLP</b>, optimizando la interacción y
              automatización de procesos.
            </li>
            <li>
              <b>
                Implementé soluciones de RPA (Automatización de Procesos
                Robóticos)
              </b>
              para automatizar flujos complejos en múltiples plataformas, aumentando
              la eficiencia y reduciendo errores manuales.
            </li>
            <li>
              <b>Superé consistentemente mis KPIs trimestrales</b>, siendo el
              único miembro del equipo en cumplir <b>todas las metas anuales</b
              >, destacando por mi rendimiento y compromiso.
            </li>
          </ul>
        </div>
      </section>
    </nav>
    <nav id="secundary_section">
      <section id="education">
        <h3>Educación</h3>
        <b> Instituto Politécnico Nacional (IPN)</b>
        <p class="info_education">
          Ingeniería en Sistemas Computacionales | Julio 2022
          <br /> Ciudad de México, México
          <br /> GPA: 8.9/10
        </p>
      </section>

      <section id="key_achivement">
        <h3>Logros Clave</h3>
        <p>
          <b class="color_red">Optimización de Procesos</b>
          Reduje <b>tiempos de desarrollo</b> en un <b>50%</b> mediante <b
            >automatización</b
          >
          y mejoras en <b>CI/CD</b>.
        </p>
        <p>
          <b class="color_red">Escalabilidad de Sistemas</b>
          Diseñé una arquitectura escalable para <b>Voicebots</b> utilizados por
          una de las principales <b>empresas de </b>
          <b> telecomunicaciones </b> en México.
        </p>
        <p>
          <b class="color_red">Eficiencia y Productividad</b>
          Implementé <b>RPA</b> para automatizar flujos complejos, reduciendo
          <b> errores humanos </b>
          y mejorando la <b> eficiencia </b>
          <b> operativa </b> en <b> 30% </b>.
        </p>
      </section>

      <section id="languages">
        <h3>Idiomas</h3>
        <p>
          <span> <b>Español: </b> Nativo</span>
          <span> <b>Inglés: </b> Avanzado (C1)</span>
          <span> <b>Alemán: </b> Basico (A2)</span>
        </p>
      </section>
    </nav>
  </section>
</main>

<style>
  #container {
    width: 100%;
    max-width: 900px;
    margin: 0px auto;
    /* margin-top: 30px; */
    /* margin-bottom: 50px; */
  }

  #personal_info {
    font-family: "Arial";
    font-size: small;
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    position: relative;
    margin-bottom: 10px;
    /* background-color: red; */
  }

  #personal_info::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 5px;
    background-color: #333333;
  }

  #personal_info > span {
    display: inline-block;
    margin: 0 10px;
    color: #e00951;
  }

  #personal_info > span > a {
    color: inherit;
    text-decoration: none;
  }

  #personal_info > span:nth-child(2) {
    color: gray;
  }

  #name {
    width: 100%;
  }

  #name > h1 {
    color: #333333;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Roboto Condensed";
    font-size: 2.5rem;
    letter-spacing: -1.8px;
    text-align: center;
    margin-bottom: 10px;
  }

  #summary {
    margin-top: 70px;
  }

  #summary > h3 {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
  }

  #summary > p {
    font-family: "Source Code Pro";
    text-align: justify;
    color: #535353cc;
    line-height: 1.35;
    font-size: 0.85rem;
  }

  #skills {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #skills h3 {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: -0.5px;
    margin-bottom: 7px;
  }

  #skills p {
    margin: 0;
    margin-bottom: 2px;
    font-family: "Source Code Pro";
    text-align: justify;
    color: #535353cc;
    line-height: 1.35;
    font-size: 0.85rem;
  }

  #main_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #primary_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 68%;
  }
  #secundary_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 28%;
  }
  #experience {
  }

  #experience > h3 {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
  }

  #experience > .job > .title {
    text-align: justify;
    font-family: "Source Code Pro";
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: -0.4px;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  #experience > .job > .title > span:first-child {
    color: #e00951;
  }

  #experience > .job > .title > span:last-child {
    color: #535353cc;
    font-weight: 400;
    font-style: italic;
  }

  #experience > .job > .lapse {
    color: #535353cc;
    font-family: "Source Code Pro";
    font-weight: 400;
    margin: 0;
    font-size: 0.85rem;
  }

  #experience > .job > ul {
    margin: 0;
    color: #535353cc;
    font-family: "Source Code Pro";
    font-size: 0.85rem;
  }

  #experience > .job > ul > li {
    /* margin-bottom: 5px; */
    margin-left: 10px;
    line-height: 1.5;
  }

  #education {
  }
  #education > h3 {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
  }
  #education > p,
  #education > b {
    font-family: "Source Code Pro";
    text-align: justify;
    color: #535353cc;
    line-height: 1.35;
    font-size: 0.85rem;
    margin-top: 8px;
  }

  #education > b {
    display: block;
    margin-bottom: 5px;
  }

  #education > .info_education {
    font-family: "Source Code Pro";
    text-align: justify;
    color: #535353cc;
    line-height: 1.35;
    font-size: 0.85rem;
  }

  #key_achivement {
  }

  #key_achivement > h3 {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
  }

  #key_achivement > p {
    font-family: "Source Code Pro";
    text-align: justify;
    color: #535353cc;
    line-height: 1.35;
    font-size: 0.85rem;
  }
  #key_achivement > p > b {
    display: inline-block;
    margin-right: 5px;
  }

  #languages {
  }
  #languages > h3 {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
  }
  #languages > p {
    font-family: "Source Code Pro";
    text-align: justify;
    color: #535353cc;
    line-height: 1.35;
    font-size: 0.85rem;
  }
  #languages > p > span {
    display: block;
    margin-bottom: 2px;
  }

  .color_red {
    color: #e00951;
  }
</style>
